@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-Light.woff2") format("woff2"),
    url("../public/fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  background: rgb(100, 0, 123);
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgba(62, 20, 86, 1) 100%
  );
  overflow: hidden;
} */

body {
  background: rgb(100, 0, 123);
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgba(62, 20, 86, 1) 100%
  );
  max-height: 100vh;
  overflow: hidden;
  height: 100vh;
}

body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Quicksand";
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand";
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
